.web-player-container {
  --row-height: 32px;
  --min-height: calc(var(--row-height) * 3);

  .user-playlists {
    @apply whitespace-nowrap overflow-y-scroll pr-6 h-full;

    &::-webkit-scrollbar {
      display: none;
    }

    &-container {
      @apply h-full mt-2;
      min-height: var(--min-height);
    }

    &__item {
      @apply h-[var(--row-height)];
    }

    &__item:hover {
      .user-playlists__name {
        @apply text-white;
      }
    }

    &__name {
      @apply text-sm text-gray-700 leading-8 overflow-hidden text-ellipsis;
    }
  }
}
